* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  transition: 0.25s ease all;
}

:root {
  --primary-color: #1877f2;
  --secondary-color: #42b72a;
  --light-gray: #f0f2f5;
  --gray: #e4e6eb;
  --dark-gray: #d7d9df;
  --z-index-loading-screen: 110;
  --z-index-popup: 100;
  --z-index-navigate-bar: 90;
}

body {
  background: var(--light-gray);
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.test {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.divider {
  border-bottom: 1px solid #dadde1;
  margin: 20px 0;
}

.darker-when-hover:hover {
  background: var(--light-gray);
}

.darker-when-hover:active {
  background: var(--gray)
}

.use-auto-hide-scrollbar:hover {
  overflow-y: overlay;

}

.use-auto-hide-scrollbar {

  overflow-y: hidden;
  padding-right: 8px;
}

.use-auto-hide-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

.use-auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 8px;
}