* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  transition: 0.25s ease all;
  user-select: none;
  -webkit-user-drag: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
  --primary-color: #1877f2;
  --secondary-color: #42b72a;
  --secondary-icon: #65676b;
  --light-gray: #f0f2f5;
  --e5: #e5e5e5;
  --gray: #e4e6eb;
  --dark-gray: #d7d9df;
  --darker-gray: #CCCCCC;
  --z-index-loading-screen: 110;
  --z-index-popup: 100;
  --z-index-navigate-bar: 90;
  --text-black-color: #050505;
  --text-gray-color: #65676B;
  --icon-inactive: #bcc0c4;
  --accent: #1876f2;
  --highlight-bg: #e7f3ff;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
  border-radius: 20px;
  background: var(--light-gray);
  padding: 8px 12px;
  width: 100%;
}

body {
  background: var(--light-gray);
  color: var(--text-black-color);
  overflow-y: scroll;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

.test {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.clickable {
  cursor: pointer;
}

.underline-when-hover:hover {
  text-decoration: underline;
}

.divider {
  border-bottom: 1px solid #dadde1;
  margin: 20px 0;
}

.darker-when-hover:hover {
  background: var(--light-gray);
}

.darker-when-hover:active {
  background: var(--gray)
}

.use-auto-hide-scrollbar:hover {
  overflow-y: overlay;

}

.use-auto-hide-scrollbar {

  overflow-y: hidden;
  padding-right: 15px;
}

.use-auto-hide-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

.use-auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 8px;
}

.react-icon {
  width: 39px;
  height: 39px;
  margin: 3px;
  cursor: pointer;
}

.react-icon:hover {
  transform: scale(1.2);
}

.react-icon:active {
  transform: scale(1);
}

.react-icon-container {
  /* display: none; */
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
  transition: none;
  pointer-events: visible;
}

.react-icon-container.show {
  transition: 0.25s ease all;
  display: flex;
  bottom: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.react-icon-with-animation {
  pointer-events: none;
  animation: react-animation 0.5s forwards;
}

@keyframes react-animation {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.setting-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 8px;
}

.setting-button:hover {
  background: var(--light-gray) !important;
}

.setting-button:active {
  background: var(--gray) !important;
}

.setting-button.darker:hover {
  background: var(--gray) !important;
}

.setting-button.darker:active {
  background: var(--darker-gray) !important;
}

.hidden {
  display: none;
}

.hover-show-hidden:hover .hidden {
  display: initial
}

.primary-text {
  color: var(--text-black-color);
}

.secondary-text {
  color: var(--secondary-icon);
}

@media (max-width: 1100px) {
  .hidden-under-1100 {
    display: none !important
  }

  .feed-container {
    margin-left: 30px
  }
}

@media (max-width: 900px) {
  .hidden-under-900 {
    display: none !important;
  }

  .feed-container {
    margin: auto;
  }
}

@media (max-width: 600px) {
  .hidden-under-600 {
    display: none !important;
  }
}

@media (max-width: 430px) {
  .hidden-under-430 {
    display: none !important;
  }
}

@media (max-width: 300px) {
  .hidden-under-300 {
    display: none !important;
  }
}